{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">{{ car[1] }}</h1>
        <p class="lead">Стоимость аренды за один день: {{ car[2] }}</p>
        <hr class="my-4">
        <p>Адрес: {{ car[3] }}</p>
        <p>Описание отеля: {{ car[4] }}</p>
        <p>Местоположение {{ dealer }}</p>
        {% if car[6] != ""%}
                    <p><img src="..\{{ car[6] }}" height="333" class="rightpic"></p>
        {% endif %}
    </div>
    <a href="/index"> <button type="button" class="btn btn-outline-info">Назад</button></a>
{% endblock %}